*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 20px;
  width: 100%;
  background-color: rgba(59,134,134, 1);
  color: rgba(207,240,158, 1);
  font-family: 'Play', sans-serif;}

header.welcome {
  text-align: center;
}

aside {
  width: 20%;
  float: left;
}

main {
  width: 80%;
  float: left;
  border-left: 1px solid rgba(11,72,107, 1);
  padding-left: 5%;
  padding-right: 10%;
  height: 100%;
  text: rgba(207, 240, 158, 1);
}
div.post-show .title {
  border-bottom: 1px white solid;
}
div.input-blog {
  width: 100%;
}

textarea {
  width: 100%;
}

nav {
  background: rgba(11,72,107, 1);
  color: white;
  padding: 10px;
}

a {
  color: white;
}

button > a {
  color: buttontext;
  text-decoration: none;
}

.quote-body {
  border-left: 5px solid rgba(11,72,107, 1);
  padding-left: 5%;
  font-style: italic;
  margin-left: 3%;
}
