<h2>Edit "{{title}}"</h2>

<div class="input-blog">
  <header>
    {{textarea placeholder="title" value=title}}
  </header>
  <body>
    {{textarea placeholder="body" value=body}}
  </body>
</div>

<button {{action 'savePost' this}}>Save</button>
<button>{{#link-to 'posts'}}Cancel{{/link-to}}</button>
