<h2>Add a New Post!</h2>

<div class="input-blog">
  {{textarea placeholder="Title it" value=titleCopy}}
  {{textarea placeholder="Share your lifestory here..." value=bodyCopy rows=20}}
</div>

<button {{action 'newPost'}}>Save</button>
<button>{{#link-to 'posts'}}Cancel{{/link-to}}</button>
