<h2>Add a New Comment!</h2>

<div class="input-blog">
  {{textarea placeholder="Toss in your two cents..." value=bodyCopy rows=2}}
  {{view "select"
    content=users
    optionValuePath="content.id"
    optionLabelPath="content.firstName"
    value=userCopy
    prompt="Select User"}}
  {{input type="hidden" value=id}}
</div>

<button {{action 'newComment'}}>Save</button>
<button>{{#link-to 'post'}}Cancel{{/link-to}}</button>
