<header class="welcome">
  <h1>Welcome to the Blogiest Blog</h1>
</header>

<nav>
  <h3>
    {{#link-to 'posts'}}Posts{{/link-to}}
    {{#link-to 'posts.new'}}New Post{{/link-to}}
  </h3>
</nav>

{{outlet}}
