<header class="welcome">
  <h1>Welcome to the Blogiest Blog</h1>
</header>

<nav>
  <h3>
    {{#link-to 'posts'}}Posts{{/link-to}}
    {{#link-to 'posts.new'}}New Post{{/link-to}}
    {{#link-to 'users'}}Users{{/link-to}}
    {{#link-to 'users.new'}}New User{{/link-to}}
  </h3>
</nav>

<div class="flash-message">
  <h2>{{message-queue}}</h2>
</div>
{{outlet}}
