<div class="posts-wrapper">
  <aside>
    <h2>Posts</h2>
    {{input type="text" class="search" placeholder="Search" value=search action="queryPost"}}
    {{#each post in model}}
      <h4>{{#link-to 'post' post}}{{post.title}}{{/link-to}}</h4>
    {{/each}}
  </aside>

  <main>
    {{outlet}}
  </main>
</div>
