
<div class>
  <h2 class="title">{{first_name}}</h2>
  <h4>Posts</h4>
  <p>{{post_ids}}</p>
  <p>
    each post title should be a link
  </p>

  <h4>Comments</h4>
  <p></p>
  <p>
    And by each comment it should list the titles of the blog posts they are associated with,
    along with the comment itself
  </p>
</div>
