<div class="posts-wrapper">
  <aside>
    <h2>Users</h2>
    {{input type="text" class="search" placeholder="Search" value=search action="queryPost"}}
    {{#each user in model}}
    <h4>{{#link-to 'user' user}}{{user.first_name}}{{/link-to}}</h4>
    {{/each}}
  </aside>

  <main>
    {{outlet}}

    <div class>
      {{#each user in model}}
      <h2 class="title">{{#link-to 'user' user}}{{user.first_name}}{{/link-to}}</h2>
      {{/each}}
    </div>
  </main>
</div>
